*{
    padding: 0;
    margin: 0;
}

.post-wrapper{
    display: grid;
}

.name-space{
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.message-space{
    margin-block: 10px;
    margin-left: 20px;
}

.like-dislike-space{
    justify-self: flex-end;
}

.icon{
    height: 15px;
}

.thumbs-up{
    transform: scaleX(-1);

}

.thumbs-down{
    transform: scaleY(-1);
}


.vote-btn{
    width: 25px;
    border: none;
    border-radius: none;
    padding-block: 2px;
    justify-content: center;
    align-items: center;
}

.left-vote{
    border-radius: 10em 0 0 10em;
}

.right-vote{
    border-radius:  0 10em 10em 0;
}

.off{
    background-color: rgb(228, 228, 228);
}

.off:hover{
    background-color: rgb(122, 122, 122)
}

.like-active{
    background-color: rgb(121, 167, 121);
}

.dislike-active{
    background-color: rgb(202, 143, 143);
}