*{
    padding: 0;
    margin: 0;
}

.post-wrapper{
    display: grid;
}

.name-time-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-space{
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.time-space{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.message-space{
    margin-block: 10px;
    margin-left: 20px;
}

.like-dislike-space{
    justify-self: flex-end;
}