h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.web-container{
    display: flex;
    /* padding-top: 75px; */
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.content-container{
    display: flex;
    width: 100%;
    padding-top: 75px;
    flex-direction: column;
    align-items: center;
}

.box{
    display: grid;
    margin-top: 25px;
    background-color: white;
    border-radius: 25px;
    width: 750px;
    box-shadow: 12px 10px 10px hsla(0, 0%, 0%, 0.5);
}

.post-title{
    justify-self: center;
    text-align: center;
    border-bottom: solid 1px grey;
    margin-top: 15px;
    padding-bottom: 5px;
    width: 50%;
}

.hidden{
    padding: 0;
    margin: 0;
    border: none;
    width: 0;
    visibility: hidden;
}

footer{
    margin-top: 25px;
    width: 100%;
    height: 100px;
    background-color: white;
}

@media only screen and (max-width: 850px){
    .box{
        width: 600px;
    }
}

@media only screen and (max-width: 600px){
    .box{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}